# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*

# Django
media/
staticfiles/

# Node
node_modules/
dist/

# Logs
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/